<div class="container">
  <div class="title">Registration</div>
  <div class="content">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="user-details">

        <div class="input-box">
          <span class="details">Username</span>
          <input type="text" placeholder="Jhon Doe" formControlName="username" required pattern="^[a-zA-Z ]*$">
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="text" placeholder="jhondoe@gmail.com" formControlName="email" required
            [class.invalid]="registrationForm.get('email').invalid && registrationForm.get('email').dirty">
          <div *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').dirty" style="color: red">
            Please enter a valid email address (include @, .).
          </div>
        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input type="password" placeholder="Enter your password" formControlName="password" required>
        </div>
      </div>

      <div class="button">
        <input type="submit" value="Register">
      </div>
    </form>
  </div>
</div>