
<main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container justify-content-center ">
  
        <div class="row">
          <div class="col" data-aos="fade-up">
            <div class="icon-box">
              <h2 text-start>{{post.username}}</h2>
              <img [src]="post.image_url" width="60%" height="50%">
              <p text-start>{{post.texts}}</p>
              <h6> </h6>
            </div>
          </div>
        </div>

      </div>
    </section>

    

  </main>